# 12 MHz clock
set_io clk_i     35

# LEDs and Button
set_io rst_in    10

# RGB LED Driver
set_io led_r_n  39
set_io led_g_n  40
set_io gpo_o    41

# PMOD 1A
set_io cs_rom_on     4
set_io sdio_io[0]    2
set_io sdio_io[1]   47
set_io sck_o        45
set_io sdio_io[2]    3
set_io sdio_io[3]   48
set_io cs_ram_on    46
#set_io P1A10        44
